body{
  background-color:#ffffff;
}

h1{
  text-align: center;
  color: #black; 
  font-family: "Verdana"; 
  font-size: 60px 
} 

strong{
  color: #ABA3A1; 
} 

p{
  text-align: center; 
  padding-left: 80px;
  padding-right: 80px; 
  font-family: Arial, Helvetica, sans-serif; 
} 

#bt21{
  width: 600px;
  height: 300px; 
} 

#tata{ 
  width: 500px;
  height: 300px; 
} 

#rj{ 
  width: 500px; 
  height: 300px; 
}

#koya{
  width: 500px; 
  height: 300px;
} 

#shooky{
  width: 300px; 
  height: 300px; 
}

#mang{ 
  width: 500px; 
  height: 300px; 
} 

#chimmy{
  width: 500px; 
  height: 300px; 
} 

#cooky{ 
  width: 500px; 
  height: 300px; 
} 

#van{ 
  width: 500px; 
  height: 300px; 
} 

.center{
  display: block;
  margin-left: auto;
  margin-right: auto; 
  width: 50%
}


